
@use "./components/button.scss";
@use "./components/form.scss";
@use "./components//text.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "./layout.css";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px
}